body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("assets/images/background.jpg");
}



h1,h3,h4,h5,h6,p{
font-family: 'PT Sans', sans-serif;
}


.container1 {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Arial, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #666;
}


nav {
  float: right;
  margin-top: 10px;
}


nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}



header {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}


footer {
  padding: 30px 0;
  clear: both;
  font-size: 16px;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  clear: both;
}

.clear{

	clear: both;
}


#maindiv
{
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 100px 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

section{
  border-top: 5px;
  border-color: red;
  border-style: solid;
}

.sidebar {
  float: right;
  width: 100%;
  max-width: 150px;
  padding: 30px;
  margin-top : 100px;
  margin-right: 620px;
  background: url("assets/images/aside.jpg");
  border: 1px solid #ddd;
}

.sidebar h2 {
  color: Black;
  padding-bottom: 20px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 108px;
  height: 108px;
  margin-top : 10px;
}


/* paragraph 1 */
.thought1 {
  font-weight: bolder;
}

/* paragraph 2 */
.thought2 {
  font-size: 24px;
}

/* paragraph 3 */
.thought3 {
  line-height: 50px;
}




/**
 * CSS Pseudo-Classes Demo
 **/

/* Normal Element Rule */
a {
  font-size: 14px;
}

/* Hover Pseudo Class:
    Changes the style only when mouse hovers
    over the preceding element.
*/
a:hover {
  background-color: red;
}

/* Focus Pseudo Class
    Changes the style only when browser
    gives the element focus
    (in this case, after the link is clicked).
*/
a:focus {
  background-color: orange;
}

/* Active Pseudo Class
    Changes the style only while the user
    clicks down on an element. This style ceases
    when the user releases their click.
*/
a:active {
  background-color: black;
}





