h1{
	background-color: rgb(0,0,0);
	color:orange;
	margin: 0 auto;
	text-align: center;
}

img{

	float:left;
       
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clear{

	clear: both;
}

div.textdiv {
	border-color:black;
	border-style:solid;
	border-width:5px;
	overflow: auto;
}

p{
 margin-left: 120px;
 border-color:red;
 border-style: solid;
 border-width:1px;
 padding: 20px;
 text-align: center;
 
}

footer
{
   text-align: center;
}

.frame{

	border-style: solid;
	border-width: 2px;
	border-color: orange;
	margin:5px;
	padding:10px;

}